@mixin h1-heading {
    font-weight: bold;
    font-size: 44px;
    line-height: 44px;
}

@mixin h2-heading {
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
}

@mixin h3-heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}
